<table class="table table-bordered table-striped table-highlight" id='tableview'>
	<thead>
		<tr>
			<th> Item 	</th>
			<th> Quantity </th>
			<th> Price Each </th>
			<th> Total Price </th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				Awesome Shell 4L Supra
			</td>
			
			<td>
				1
			</td>
			
			<td>
				150.000
			</td>
			
			<td>
				150.000
			</td>
		</tr>
	</tbody>
</table>