<table class="table table-bordered table-striped table-highlight" id='purchased_items'>
	<thead>
		<tr>
			<th> Item 	</th>
			<th> Quantity </th>
			<th> Price Each </th>
			<th> Total Price </th>
		</tr>
	</thead>
	<tbody>
		<% sales_order.active_sales_entries.each do |sales_entry| %>
			<%= render :partial => 'sales_entries/sales_order/entry', :locals => {
				:sales_entry => sales_entry 
			}%>
			
		<% end %>
		
	</tbody>
</table>