<ul id="myTab" class="nav nav-pills">
	<li class="active"><a href="#tab1" data-toggle="tab">Add Product</a></li>
	<li class=""><a href="#tab2" data-toggle="tab">Add Service</a></li> 
</ul>


<div id="myTabContent" class="tab-content" style='overflow:visible;'>
	<div class="tab-pane fade active in" id="tab1"> 
		
		
		<%= simple_form_for :sales_entry, { url: generate_stock_migration_url, 
					:html => {:id=>"add_product_trigger_form" } } do |f| %>
		  <%= f.input :search_item_id , :label => "Item"  %> 
			<%=	 hidden_field_tag 'selected_item_id', '' %> 
			<%=	 hidden_field_tag 'sales_order_id', "#{sales_order.id}" %> 
		<% end %>
		<div id='add_product_form'>
		</div>
	 
	</div>
	<div class="tab-pane fade" id="tab2">
		Tab 2
	</div> 
</div>