<%= render :partial => "layouts/masthead" ,:locals => {
	:title => "Vendor",
	:description => "Tambahkan Vendor ke Database"
}%>

<div id="content">

	<div class="container">
		
		
		<div class="row">
			
			<div class="span8">
				 
				
				<%= render :partial => "vendors/new_object_form", :locals => {
					:new_object => @new_object , 
					:url => vendors_url
				}%>


				
				
				
			 
				
			</div> <!-- /.span8 -->
			
			
			<div class="span4">
				
				Search Vendor <hr />
				All Vendors <hr /> 
				
						
				
			</div> <!-- /.span4 -->
			
		</div> <!-- /.row -->
		
	
	</div> <!-- /.container -->

</div> <!-- /#content -->