<%= render :partial => "layouts/masthead" ,:locals => {
	:title => "Item Database",
	:description => ""
}%>

<div id="content">

	<div class="container">
		
		
		<div class="row">
			
			<div class="span8">
				 
				
				<%= render :partial => "items/new_object_form", :locals => {
					:new_object => @new_object , 
					:url => items_url, 
				}%>

				
				
				<table class="table table-bordered table-striped table-highlight" id='tableview'>
					<thead>
						<tr>
							<th>Item Name</th>
							<th>Category</th> 
							<th>Ready</th>
						</tr>
					</thead>
					<tbody>
						<% @objects.each do |object| %>
							<%= render :partial =>  'items/entry', :locals => {
								:object => object 
							} %> 
						<% end %>
					</tbody>
				</table>

				
			</div> <!-- /.span8 -->
			
			
			<div class="span4">
				
						
				<a href="javascript:;" class="btn btn-large btn-primary btn-block btn-big-block">Tree View</a>	
				
				
				<a href="javascript:;" class="btn btn-large btn-tertiary btn-block btn-big-block">Contact Support</a>
				
				
				<div>
				</div> <!-- /.table wrapper -->
						
				
			</div> <!-- /.span4 -->
			
		</div> <!-- /.row -->
		
	
	</div> <!-- /.container -->

</div> <!-- /#content -->