<%= simple_form_for( new_object, :url => url,
      :method => :post , 
      :html => {:class => " prevent_double_submit",
        :id => "new_object"}) do |f| %> 
			<table class="table table-bordered table-striped table-highlight" id='tableview'>
				<thead>
					<tr>
						<th colspan='2' style='text-align:center;'>Sales Order</th>  
					</tr>
				</thead>
				<tbody>
					<tr>
						<td> 
						  	<%= f.input :customer_id, :input_html => { :class => 'search_customer', :id => "search_customer_id" }  ,
											:label => "Customer" , :hint => "Leave empty if not registered", :as => :string  %> 
						</td>
						<td> 
								<%= f.input :vehicle_id, :input_html => { :class => 'search_vehicle', :id=> 'search_vehicle_id' },
											:label =>"Nomor Polisi", :hint => "Leave empty if not registered", :as => :string %>
			 
							
							<a class=" label label-secondary" data-toggle="modal" href="#myModal">New Vehicle</a>
						</td>
					</tr>
					<tr>
						<td colspan='2' style='text-align:center;'><%= f.submit  "Confirm Sales Order Details", :class =>"btn" %></td>
					</tr>
				</tbody>
			</table> 
<% end %>